*{
	margin:0;
	padding: 0;

}

html{
	background-color: #FFF;
	color:#555;
	font-family: "lato","verdana";
	font-size: 20px;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

header{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	animation:animate 30s infinite;
	animation-timing-function: ease-in-out infinite;
}

@keyframes animate{
	0%, 100%{
		background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)), url(../img/bg.jpg);
	}
	25%{
		background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)), url(../img/1.jpg);
	}
	50%{
		background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)), url(../img/3.jpg);
	}
	75%{
		background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)), url(../img/2.jpg);
	}
}

.logo{
	height: 40px;
	margin-bottom: 10px;
}

.schoolname{
	color:#FFF;
	padding-left: 0;
}

.navcon{
	background-color: transparent;
}

#mySidenav a {
  position: fixed;
  right: -140px;
  transition: 0.5s;
  padding: 15px;
  min-width: 190px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  text-align: left;
  z-index: 99;
}

#mySidenav a:hover {
  right: 0;
}

#Home {
  top: 30px;
  background-image:linear-gradient(rgb(183,50,57),rgb(20,20,20)); 
}

#Gallery {
  top: 100px;
  background-image:linear-gradient(rgb(183,50,57),rgb(20,20,20)); 
}

#AboutUs {
  top: 180px;
  background-image:linear-gradient(rgb(183,50,57),rgb(20,20,20)); 
}

#ContactUs {
  top: 260px;
  background-image:linear-gradient(rgb(183,50,57),rgb(20,20,20)); 
}



.header-text{
	font-family: "lato", "verdana";
	background-color: transparent;
	color: #FFF;
}

.headermain{
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	word-spacing: 4px;
	margin-bottom: 30px;

}

.headermain span:nth-child(2){
	color:#FFD700;
}

.btn:link,
.btn:visited{
	border: 1px solid #FFF;
	border-radius: 30px;
	text-decoration: none;
	margin-left: 20px;
	color:#FFF;
}

.btn-ghost:link,
.btn-ghost:visited{
	background-color: transparent;
	transition: 0.5s;
	color:#FFF;
}

.btn-ghost:hover,
.btn-ghost:active{
	background-color: #7C0A02;
	transition: 0.5s;
	color:#FFF;
}

.section2{
	min-height: 80vh;
	background-color:#1c1c1c;
}

.sushiroll{
	color: #FFF;
	text-align: left;
	text-transform: uppercase;
	padding-top: 20px;
	padding-left: 10px;
}

.tablink {
  background-color: #7C0A02;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  width: 25%;
}

.tablink:hover {
  background-color: #FFF;
  color:#7C0A02;
}

.tabcontent {
  color: white;
  display: none;
  padding: 70px 20px;
  height: 400px;
  text-align: justify;
  font-size: 20px;
  margin:0;
}

#Mission{
	background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)),url(../img/10.jpeg);
	background-position: center;
	background-size: cover;
	}
#Vision{
	background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)),url(../img/9.jpg);
	background-position: center;
	background-size: cover;
}
#History{
	background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)),url(../img/11.jpg);
	background-position: center;
	background-size: cover;
}
#Promise{
	background-image:linear-gradient(rgba(183,50,57,0.69),rgba(20,20,20,0.69)),url(../img/12.jpg);
	background-position: center;
	background-size: cover;
}

.section1{
	min-height: 100vh;
	background-image:url(../img/4.jpg);
	background-position: center;
	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
}

.gallerys{
	margin-top:0;
	padding-top:0;
	padding-bottom: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	color: white;	
}

.cardcon{
	background-color: rgba(20,20,20,.60);
	min-height: 600px;
	min-width:300px;
	padding: 10px;
	margin:10px;
	box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.ender{
	margin-bottom: 30px;
}

.card-title{
	color:#FFF;
}

.card p{
	font-size: 70%;
	background-color:rgba(183,50,57,0.75);
	padding:10px;
	color:#FFF;
	letter-spacing: 1px;
}

.section3{
	background-image:url(../img/2.jpg);
	background-position: center;
	background-attachment: fixed;
  	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;
	min-height: 100vh;
	padding-top: 30px;
}

.contact{
	color:#FFF;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #FFF;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
  color: #FFF;
}

input[type=submit] {
  background-color:transparent;
  color: white;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #7C0A02;
  color:white;
}

.containered {
  border-radius: 5px;
  background-color: rgba(20,20,20,.60);
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-left: 0;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-right: 30px;
  margin-bottom: 10px;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.rows{
	padding-right: 12px;
	padding-left: 12px;
	width:100%;
}


footer{
	min-height: 10vh;
	background-color: #1c1c1c;
}

.ft2{
	font-size: 100%;
	color: #FFF;
	padding: 20px;
	margin-bottom: 0;
	text-align: center;
}
.ft2 i{
	font-size: 100%;
	color: #7C0A02;
	padding: 20px;
	margin-right: 20px;
}


@media(max-width: 820px){
	.schoolname{
	visibility:visible;
	}

	.btn{
		font-size: 1rem;
	}

	.header-text{
		padding-top: 0;
		margin-bottom: 0;
	}
	.headermain{
		font-size: 2.5rem;
	}

	.tablink {
		font-size: 0.7rem;
	}
	.tabcontent{
		font-size: .6rem;
	}
	.cardcon{
	background-color: rgba(20,20,20,.60);
	min-width:300px;
	min-height: 300px;
	padding: 20px;
	box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
	}

	.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-left: 30px;
	}

	.section3{
		padding-bottom: 20px;
	}

	.ft2{
	font-size: 70%;
	color: #FFF;
	padding: 20px;
	margin-bottom: 0;
	text-align: center;
	}
	.ft2 i{
	font-size: 100%;
	color: #7C0A02;
	padding: 20px;
	margin-right: 10px;
	}

}